body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
}

.text {
    display: block;
    position: fixed;
    text-wrap: pretty;
    text-align: center;
    font-size: 1.2rem;
    background-image: url('../static/paper.jpeg');
    background-size: cover;
    border-radius: 7px;
    border: 2px solid;
    padding: 20px;
    overflow : auto;
}

/* Весь скроллбар */
.text::-webkit-scrollbar {
    width: 5px;
}

/* Ползунок */
.text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Полоса прокрутки (канал) */
.text::-webkit-scrollbar-track {
    background: transparent;
}

.text_left, .text_right {
    top: 10%;
    max-height: 75%;
}

.text_left {
    left: 5%;
}

.text_right {
    right: 5%;
}

.text_top, .text_bottom {
    left: 5%;
    right: 5%;
}

.text_top {
    top: 5%;
}

.text_bottom {
    bottom: 5%;
}

.exit {
    display: inline-block;
    all: unset;
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 4px;
    user-select: none;
    -webkit-user-select: none;
}

.exit_left, .exit_right {
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.exit_top, .exit_bottom {
    left: 7%;
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.no_visible {
    display: none;
}