body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
}

.text {
    display: block;
    position: fixed;
    text-wrap: pretty;
    text-align: center;
    font-size: 1.2rem;
    background-image: url('../static/papyrus.jpeg');
    background-size: cover;
    border-radius: 7px;
    border: 2px solid;
    padding: 20px;
    overflow : auto;
    box-sizing: border-box;
}

/* Весь скроллбар */
.text::-webkit-scrollbar {
    width: 5px;
}

/* Ползунок */
.text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Полоса прокрутки (канал) */
.text::-webkit-scrollbar-track {
    background: transparent;
}

.text_left, .text_right {
    top: 10%;
    max-height: 75%;
}

.text_left {
    left: 5%;
}

.text_right {
    right: 5%;
}

.text_top, .text_bottom {
    left: 5%;
    right: 5%;
}

.text_top {
    top: 5%;
}

.text_bottom {
    bottom: 5%;
}

.exit {
    display: inline-block;
    all: unset;
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 8px;
    user-select: none;
    -webkit-user-select: none;
}

.exit:hover {
    padding: 10px;
}

.exit_left, .exit_right {
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.exit_top, .exit_bottom {
    left: 7%;
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.no_visible {
    display: none;
}

.start_menu {
    background-color: #0093E9;
    background-image: linear-gradient(114deg, #1173ac 0%, #6fc3ba 100%);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.start_menu .controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 4vmax;
    opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
}

.camera_control, .communications_control, .movement_control {
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;
    text-align: center;
}

.controls .picture_for_control {
    height: 7vmax;
}

.controls .text_for_control {
    font-style: italic;
    font-size: 0.9rem;
}

/* mobile device */
@media (pointer: coarse) {
    .camera_control .picture_for_control {
        content: url("../static/hand_directions.png");
    }
    .communications_control .picture_for_control {
        content: url('../static/hand_press.png');
    }
    .movement_control .picture_for_control {
        content: url('../static/hand_long_press.png');
    }
}

/* pc device */
@media (pointer: fine) {
    .camera_control .picture_for_control {
        content: url('../static/mouse_directions.png');
    }
    .communications_control .picture_for_control {
        content: url('../static/mouse_left_click.png');
    }
    .movement_control .picture_for_control {
        content: url('../static/mouse_right_click.png');
    }
}

.run {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.run:hover {
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }
  
.run:disabled {
    color: #7b7474;
    border-color: #7b7474;
    cursor: not-allowed;
}

